@charset "UTF-8";
html {
  font-size: 16px;
  background-color: #fff;
  font-family: ‘Noto Sans TC’, sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 51px;
}

@media all and (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}

header {
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.26);
  z-index: 1;
}

@media all and (min-width: 768px) {
  header {
    height: 80px;
  }
}

footer {
  height: 304px;
  background-color: #F2F2F2;
}

@media all and (min-width: 768px) {
  footer {
    height: 304px;
  }
}

/* ----------------- cover ----------------- */
.cover-wrapper {
  margin: 64px 0 72px;
  position: relative;
  font-size: 0;
}

@media all and (min-width: 768px) {
  .cover-wrapper {
    margin: 55px 0 101px;
  }
}

.cover-wrapper source, .cover-wrapper img {
  width: 100%;
  height: auto;
}

.cover-wrapper a {
  width: 128px;
  background-color: #174EA6;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  border-radius: 56px;
  padding: 9px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 27.05314%;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .cover-wrapper a {
    left: auto;
    right: 16.25%;
    bottom: 9.0625%;
  }
}

/* ----------------- introduction ----------------- */
.introduction-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
  padding: 0 36px;
}

@media all and (min-width: 768px) {
  .introduction-wrapper {
    margin-bottom: 36px;
  }
}

.introduction-wrapper h3 {
  width: 100%;
  max-width: 268px;
  font-weight: 700;
  text-align: center;
  color: #174EA6;
  margin: 0 auto 21px auto;
}

@media all and (min-width: 768px) {
  .introduction-wrapper h3 {
    max-width: none;
    margin-bottom: 56px;
  }
}

.introduction-wrapper .description {
  width: 100%;
}

.introduction-wrapper p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

@media all and (min-width: 768px) {
  .introduction-wrapper p {
    font-size: 2rem;
  }
}

/* ----------------- map ----------------- */
.map-wrapper {
  width: 100%;
  background: url(../image/maps.png) no-repeat center/150%;
  padding-top: 56.25%;
  margin-bottom: 72px;
}

@media all and (min-width: 768px) {
  .map-wrapper {
    width: 85%;
    margin: 0 auto 224px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

/* ----------------- place ----------------- */
.place-wrapper {
  margin-bottom: 56px;
}

@media all and (min-width: 768px) {
  .place-wrapper {
    margin-bottom: 151px;
  }
}

.place-wrapper h3 {
  color: #404040;
  text-align: center;
  margin-bottom: 104px;
}

@media all and (min-width: 768px) {
  .place-wrapper h3 {
    margin-bottom: 43px;
  }
}

.place-wrapper .place-list {
  max-width: 1136px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (min-width: 768px) {
  .place-wrapper .place-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 768px) {
  .place-wrapper .place-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.place-wrapper .place {
  width: 40%;
  margin-bottom: 41px;
  text-align: center;
}

.place-wrapper .place:nth-last-of-type(2), .place-wrapper .place:last-of-type {
  margin-bottom: 0;
}

@media all and (min-width: 768px) {
  .place-wrapper .place {
    width: 40%;
    margin-bottom: 41px;
  }
}

@media all and (min-width: 1200px) {
  .place-wrapper .place {
    width: auto;
    margin-bottom: 0;
  }
  .place-wrapper .place:first-of-type {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .place-wrapper .place:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .place-wrapper .place:nth-of-type(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .place-wrapper .place:last-of-type {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.place-wrapper .place a {
  width: 120px;
  display: block;
  background-color: #174EA6;
  color: #FFF;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 56px;
  padding: 8px 0;
  margin: 0 auto 9px auto;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.26);
}

@media all and (min-width: 768px) {
  .place-wrapper .place a {
    width: 170px;
    padding: 16px 0;
    margin: 0 auto 12px auto;
    font-size: 2.5rem;
  }
}

@media all and (min-width: 1200px) {
  .place-wrapper .place a {
    width: 220px;
    padding: 23px 0;
    margin: 0 auto 18px auto;
    font-size: 3rem;
  }
}

.place-wrapper .place span {
  font-size: 1rem;
  text-align: center;
}

@media all and (min-width: 768px) {
  .place-wrapper .place span {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */