html {
  font-size: 16px;
  background-color: #fff;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  text-align: center;
}

.date {
  font-size: 1rem;
  color: #707070;
}

@media all and (min-width: 768px) {
  .date {
    font-size: 2rem;
  }
}

picture img {
  width: 100%;
  margin-top: 60px;
}

.intro {
  padding: 115px 11.11% 75px;
}

.intro h2 {
  font-size: 3rem;
  color: #174EA6;
  margin-bottom: 48px;
}

@media all and (min-width: 768px) {
  .intro h2 {
    font-size: 3.5rem;
    margin-bottom: 56px;
  }
}

.intro p {
  color: #707070;
  font-size: 1rem;
}

@media all and (min-width: 768px) {
  .intro p {
    font-size: 2rem;
  }
}

.session {
  margin: 0 auto;
  max-width: 280px;
  margin-bottom: 129px;
  text-align: left;
}

@media all and (min-width: 768px) {
  .session {
    margin-bottom: 80px;
    max-width: 500px;
  }
}

.session .site-wrapper-top,
.site-wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.session .site-wrapper-top {
  margin-bottom: 32px;
}

@media all and (min-width: 1200px) {
  .session .site-wrapper-top {
    margin-bottom: 40px;
  }
}

.session .site {
  padding-left: 37px;
  font-size: 2rem;
  color: #174EA6;
}

@media all and (min-width: 768px) {
  .session .site {
    font-size: 2.5rem;
    padding-left: 65px;
  }
}

.session .site-wrapper-top > div:first-of-type {
  background-image: url("../image/Group 91.svg");
  background-repeat: no-repeat;
  background-position: 0 40%;
}

@media all and (min-width: 768px) {
  .session .site-wrapper-top > div:first-of-type {
    background-position: 8% 28%;
    background-size: 30%;
  }
}

.session .site-wrapper-top > div:nth-of-type(2) {
  background-image: url("../image/Group 92.svg");
  background-repeat: no-repeat;
  background-position: 12% 42%;
}

@media all and (min-width: 768px) {
  .session .site-wrapper-top > div:nth-of-type(2) {
    background-position: 13% 32%;
    background-size: 25%;
  }
}

.session .site-wrapper-bottom > div:first-of-type {
  background-image: url("../image/Group 94.svg");
  background-repeat: no-repeat;
  background-position: 0 58%;
}

@media all and (min-width: 768px) {
  .session .site-wrapper-bottom > div:first-of-type {
    background-position: 8% 33%;
    background-size: 32%;
  }
}

.session .site-wrapper-bottom > div:nth-of-type(2) {
  background-image: url("../image/Group 93.svg");
  background-repeat: no-repeat;
  background-position: 13% 50%;
}

@media all and (min-width: 768px) {
  .session .site-wrapper-bottom > div:nth-of-type(2) {
    background-position: 15% 33%;
    background-size: 28%;
  }
}

.ask {
  color: #ffffff;
  background-color: #174EA6;
  padding: 68px 6.5% 67px;
}

.ask h2 {
  font-size: 2.5rem;
  margin-bottom: 42px;
}

@media all and (min-width: 768px) {
  .ask h2 {
    font-size: 3.5rem;
  }
}

.ask p {
  font-size: 1.5rem;
}

@media all and (min-width: 768px) {
  .ask p {
    font-size: 2rem;
  }
}

.tips {
  padding: 128px 6.5% 115px;
}

@media all and (min-width: 768px) {
  .tips {
    padding: 190px 7.25% 225px;
  }
}

@media all and (min-width: 1200px) {
  .tips {
    padding: 190px 0 335px;
  }
}

.tips h4 {
  font-size: 2.5rem;
  color: #174EA6;
}

@media all and (min-width: 768px) {
  .tips h4 {
    font-size: 3.5rem;
  }
}

.tips p {
  font-size: 1rem;
  color: #707070;
}

@media all and (min-width: 768px) {
  .tips p {
    font-size: 2rem;
  }
}

.tips h4:last-of-type {
  margin-bottom: 42px;
}

.kinds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 115px;
}

@media all and (min-width: 1200px) {
  .kinds {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 7%;
  }
}

.kinds figure {
  font-size: 0;
  margin: 0;
}

@media all and (min-width: 1200px) {
  .kinds figure img {
    width: 100%;
  }
}

.example {
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .example {
    margin-bottom: 150px;
  }
}

@media all and (min-width: 1200px) {
  .example {
    margin-bottom: 0;
  }
}

.example h3 {
  font-size: 2.5rem;
  color: #174EA6;
  margin: 0 auto;
  margin-bottom: 42px;
}

@media all and (min-width: 768px) {
  .example h3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
}

@media all and (min-width: 1200px) {
  .example h3 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 48px;
  }
}

.example ul {
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .example ul {
    padding-left: 75px;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media all and (min-width: 1200px) {
  .example ul {
    padding-left: 40px;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

.example li {
  text-align: left;
  font-size: 1rem;
  line-height: 30px;
  color: #707070;
}

@media all and (min-width: 768px) {
  .example li {
    font-size: 1.5rem;
    line-height: 37px;
  }
}

@media all and (min-width: 1200px) {
  .example li {
    font-size: 2rem;
    line-height: 45px;
  }
}

@media all and (min-width: 1200px) {
  .kinds-mobile {
    margin-bottom: 267px;
  }
}

@media all and (min-width: 1200px) {
  .kinds-mobile figure {
    width: 34.36%;
    margin-right: 7.72%;
  }
}

.kinds-mobile .example {
  padding: 42px 25% 0;
}

@media all and (min-width: 768px) {
  .kinds-mobile .example {
    padding: 42px 0 0;
  }
}

@media all and (min-width: 1200px) {
  .kinds-mobile .example {
    padding: 0;
    width: 57.92%;
  }
}

@media all and (min-width: 1200px) {
  .kinds-web {
    margin-bottom: 371px;
  }
}

@media all and (min-width: 1200px) {
  .kinds-web figure {
    width: 43.37%;
    margin-left: 6%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.kinds-web .example {
  padding: 42px 28% 0;
}

@media all and (min-width: 768px) {
  .kinds-web .example {
    padding: 42px 0 0;
  }
}

@media all and (min-width: 1200px) {
  .kinds-web .example {
    width: 50.63%;
    padding: 48px 0 0;
  }
}

@media all and (min-width: 1200px) {
  .kinds-web ul {
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

@media all and (min-width: 1200px) {
  .kinds-cloud {
    margin-bottom: 271px;
  }
}

@media all and (min-width: 1200px) {
  .kinds-cloud figure {
    width: 35.78%;
    margin-right: 7%;
  }
}

.kinds-cloud .example {
  padding: 42px 21% 0;
}

@media all and (min-width: 768px) {
  .kinds-cloud .example {
    padding: 42px 0 0;
  }
}

@media all and (min-width: 1200px) {
  .kinds-cloud .example {
    padding: 30px 0 0;
    width: 57.11%;
  }
}

.session-deadline {
  margin: 0 auto;
  margin-bottom: 125px;
}

@media all and (min-width: 768px) {
  .session-deadline {
    margin-bottom: 231px;
  }
}

.session-deadline h2 {
  font-size: 2.5rem;
  color: #174EA6;
  margin-bottom: 60px;
}

@media all and (min-width: 768px) {
  .session-deadline h2 {
    font-size: 3.5rem;
  }
}

.session-deadline .site-wrapper-top,
.session-deadline .site-wrapper-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 236px;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .session-deadline .site-wrapper-top,
  .session-deadline .site-wrapper-bottom {
    width: 436px;
  }
}

.session-deadline .site-wrapper-top {
  margin-bottom: 32px;
}

.session-deadline .site {
  font-size: 1.5rem;
  color: #174EA6;
  text-align: left;
}

@media all and (min-width: 768px) {
  .session-deadline .site {
    font-size: 2.5rem;
  }
}

.signUp {
  margin: 0 auto 48px;
}

@media all and (min-width: 768px) {
  .signUp {
    margin-bottom: 105px;
  }
}

@media all and (min-width: 1200px) {
  .signUp {
    width: 100%;
    margin-bottom: 177px;
  }
}

.signUp h2 {
  font-size: 3rem;
  color: #174EA6;
  margin: 0 auto 61px;
}

@media all and (min-width: 768px) {
  .signUp h2 {
    font-size: 3.5rem;
  }
}

.signUp .site-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .signUp .site-wrapper {
    width: 450px;
    padding: 0;
  }
}

@media all and (min-width: 1200px) {
  .signUp .site-wrapper {
    width: 1100px;
  }
}

@media all and (min-width: 1200px) {
  .signUp .site-wrapper div:first-of-type {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

@media all and (min-width: 1200px) {
  .signUp .site-wrapper div:nth-of-type(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media all and (min-width: 1200px) {
  .signUp .site-wrapper div:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media all and (min-width: 1200px) {
  .signUp .site-wrapper div:nth-of-type(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.signUp .site-wrapper .site {
  width: 50%;
  margin-bottom: 38px;
}

@media all and (min-width: 1200px) {
  .signUp .site-wrapper .site {
    width: 25%;
    margin-bottom: 0;
  }
}

.signUp .site-wrapper a {
  display: block;
  width: 120px;
  border-radius: 56px;
  color: #ffffff;
  font-size: 2rem;
  padding: 7px 0;
  margin: 0 auto;
  background-color: #174EA6;
  -webkit-box-shadow: 0px 4px 10px #00000029;
          box-shadow: 0px 4px 10px #00000029;
}

@media all and (min-width: 768px) {
  .signUp .site-wrapper a {
    font-size: 2.5rem;
    padding: 10px 0;
    width: 170px;
  }
}

@media all and (min-width: 1200px) {
  .signUp .site-wrapper a {
    font-size: 3rem;
    padding: 20px 0;
    width: 220px;
  }
}

footer {
  background-color: #4285F4;
  padding-top: 25px;
}

@media all and (min-width: 1200px) {
  footer {
    padding: 43px 0;
  }
}

.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 71.19%;
  margin: 0 auto;
  max-width: 350px;
}

@media all and (min-width: 768px) {
  .social-wrapper {
    max-width: 450px;
  }
}

@media all and (min-width: 1200px) {
  .social-wrapper {
    max-width: 1284px;
  }
}

.social-wrapper a {
  font-size: 0;
  margin-bottom: 25px;
}

@media all and (min-width: 1200px) {
  .social-wrapper a {
    margin-bottom: 0;
  }
}

.social-wrapper a + a {
  margin-left: 20px;
}

@media all and (min-width: 1200px) {
  .social-wrapper a + a {
    margin-left: 0;
  }
}

.social-wrapper a:first-of-type {
  width: 34.42%;
}

@media all and (min-width: 1200px) {
  .social-wrapper a:first-of-type {
    width: 15.715%;
  }
}

.social-wrapper a:nth-of-type(2) {
  width: 56.28%;
}

@media all and (min-width: 1200px) {
  .social-wrapper a:nth-of-type(2) {
    width: 26.136%;
  }
}

.social-wrapper a:nth-of-type(3) {
  width: 85.84%;
}

@media all and (min-width: 1200px) {
  .social-wrapper a:nth-of-type(3) {
    width: 39.233%;
  }
}

.social-wrapper a img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */