@charset "UTF-8";
html {
  font-size: 16px;
  background-color: #fff;
  font-family: ‘Noto Sans TC’, sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

h3 {
  font-size: 2rem;
  color: #174EA6;
  font-weight: 700;
  margin-bottom: 6px;
}

@media all and (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}

header {
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
}

@media all and (min-width: 768px) {
  header {
    height: 80px;
  }
}

footer {
  height: 304px;
  background-color: #F2F2F2;
}

@media all and (min-width: 768px) {
  footer {
    height: 304px;
  }
}

/* ----------------- common ----------------- */
.button {
  width: 92px;
  height: 92px;
  padding: 0 24px;
  border-radius: 100%;
  background: #FFF;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.wrapper {
  padding: 0 8.69565%;
}

@media all and (min-width: 768px) {
  .wrapper {
    width: 85%;
    padding: 0;
    margin: 0 auto;
  }
}

.link {
  font-size: 0;
}

.link a, .link img {
  vertical-align: middle;
}

.link a {
  color: #174EA6;
  font-size: 1rem;
  margin-right: 4px;
}

@media all and (min-width: 768px) {
  .link a {
    font-size: 2rem;
  }
}

.link img {
  width: 18px;
}

@media all and (min-width: 768px) {
  .link img {
    width: 23px;
  }
}

/* ----------------- banner ----------------- */
.banner-wrapper {
  height: 730px;
  padding-bottom: 127px;
  margin-bottom: 72px;
  background-color: #D0D0D0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .banner-wrapper {
    height: 1080px;
    padding-bottom: 168px;
    margin-bottom: 107px;
  }
}

.banner-wrapper .date {
  color: #404040;
  margin-bottom: 16px;
}

@media all and (min-width: 768px) {
  .banner-wrapper .date {
    margin-bottom: 11px;
  }
}

.banner-wrapper .date, .banner-wrapper .place {
  font-size: 0;
}

.banner-wrapper .date img, .banner-wrapper .place img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

@media all and (min-width: 768px) {
  .banner-wrapper .date img, .banner-wrapper .place img {
    width: 43px;
    height: 43px;
  }
}

.banner-wrapper .date span, .banner-wrapper .place span {
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 16px;
  vertical-align: middle;
}

@media all and (min-width: 768px) {
  .banner-wrapper .date span, .banner-wrapper .place span {
    font-size: 2rem;
  }
}

/* ----------------- introduction ----------------- */
.introduction-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 103px;
}

@media all and (min-width: 768px) {
  .introduction-wrapper {
    margin-bottom: 163px;
  }
}

.introduction-wrapper h3 {
  width: 100%;
  margin-bottom: 27px;
}

@media all and (min-width: 768px) {
  .introduction-wrapper h3 {
    margin-bottom: 3px;
  }
}

.introduction-wrapper .description {
  width: 100%;
  margin-bottom: 48px;
}

@media all and (min-width: 768px) {
  .introduction-wrapper .description {
    width: 50%;
    padding-top: 56px;
  }
}

.introduction-wrapper p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 22px;
}

@media all and (min-width: 768px) {
  .introduction-wrapper p {
    font-size: 2rem;
    line-height: 43px;
    max-width: 421px;
    padding-right: 32px;
  }
}

.introduction-wrapper .content-list {
  width: 100%;
  font-size: 0;
}

@media all and (min-width: 768px) {
  .introduction-wrapper .content-list {
    width: 50%;
    padding: 0;
  }
}

.introduction-wrapper .content {
  display: inline-block;
  width: 50%;
}

.introduction-wrapper .content:first-of-type, .introduction-wrapper .content:nth-of-type(2) {
  margin-bottom: 56px;
}

.introduction-wrapper .content-count {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3px;
}

@media all and (min-width: 768px) {
  .introduction-wrapper .content-count {
    font-size: 4.5rem;
    margin-bottom: 16px;
  }
}

.introduction-wrapper hr {
  width: 68px;
  border-bottom: 4px solid #174EA6;
  margin: 0 0 4px;
}

@media all and (min-width: 768px) {
  .introduction-wrapper hr {
    width: 96px;
    margin: 0 0 8px;
  }
}

.introduction-wrapper .content-description {
  font-size: 1rem;
  color: #707070;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  .introduction-wrapper .content-description {
    font-size: 1.5rem;
  }
}

/* ----------------- speaker ----------------- */
.speaker-wrapper {
  margin-bottom: 74px;
}

@media all and (min-width: 768px) {
  .speaker-wrapper {
    position: relative;
    margin-bottom: 124px;
  }
}

.speaker-wrapper h3 {
  margin-bottom: 54px;
}

@media all and (min-width: 768px) {
  .speaker-wrapper h3 {
    margin-bottom: 131px;
  }
}

.speaker-wrapper .speaker-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (min-width: 768px) {
  .speaker-wrapper .speaker-list {
    margin: 0 2.98611%;
  }
}

@media all and (min-width: 1200px) {
  .speaker-wrapper .speaker-list {
    margin: 0 2.98611%;
  }
}

.speaker-wrapper .button {
  display: none;
}

@media all and (min-width: 768px) {
  .speaker-wrapper .button {
    background: url(../image/keyboard_arrow_up-24px.svg) no-repeat 50%/44px 44px, #FFF;
    display: block;
    position: absolute;
    left: 0;
    bottom: 32%;
  }
}

.speaker-wrapper .speaker {
  width: 50%;
  min-height: 233px;
  text-align: center;
  padding: 0 12px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.speaker-wrapper .speaker:first-of-type, .speaker-wrapper .speaker:nth-of-type(2) {
  margin-bottom: 22px;
}

@media all and (min-width: 768px) {
  .speaker-wrapper .speaker {
    width: 33%;
    padding: 0 16px 87px;
  }
}

@media all and (min-width: 1200px) {
  .speaker-wrapper .speaker {
    width: 25%;
    min-height: 436px;
    padding: 0 16px 16px;
    margin-bottom: 0;
  }
}

.speaker-wrapper .speaker-headshot {
  width: 88px;
  height: 88px;
  border: 1px solid #707070;
  border-radius: 50%;
  margin: 0 auto 16px auto;
  overflow: hidden;
  font-size: 0;
}

@media all and (min-width: 768px) {
  .speaker-wrapper .speaker-headshot {
    width: 56.41526%;
    height: auto;
    max-width: 214px;
    max-height: 214px;
    margin-bottom: 48px;
  }
}

.speaker-wrapper .speaker-headshot img {
  width: 100%;
  height: auto;
}

.speaker-wrapper h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 33px;
}

@media all and (min-width: 768px) {
  .speaker-wrapper h4 {
    font-size: 2.5rem;
    line-height: 55px;
    margin-bottom: 4px;
  }
}

.speaker-wrapper .speaker-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}

@media all and (min-width: 768px) {
  .speaker-wrapper .speaker-description {
    font-size: 2rem;
    line-height: 43px;
  }
}

.speaker-wrapper .city::after {
  content: ',';
}

/* ----------------- place ----------------- */
@media all and (min-width: 768px) {
  .place-wrapper {
    margin-bottom: 255px;
    position: relative;
  }
}

.place-wrapper > img {
  display: none;
}

@media all and (min-width: 768px) {
  .place-wrapper > img {
    display: block;
    width: 100%;
  }
}

.place-wrapper .description {
  background-color: #174EA6;
  color: #FFF;
  padding: 48px 8.69565% 50px;
  margin-bottom: 72px;
}

@media all and (min-width: 768px) {
  .place-wrapper .description {
    width: 560px;
    height: 352px;
    padding: 32px 48px 48px;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.place-wrapper h3 {
  color: #FFF;
  padding-left: 12px;
  margin-bottom: 13px;
}

@media all and (min-width: 768px) {
  .place-wrapper h3 {
    padding: 0;
  }
}

.place-wrapper p {
  height: 90px;
  margin-bottom: 13px;
}

@media all and (min-width: 768px) {
  .place-wrapper p {
    height: 104px;
    margin-bottom: 48px;
    font-size: 1.5rem;
  }
}

.place-wrapper .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 768px) {
  .place-wrapper .address {
    font-size: 1.5rem;
  }
}

.place-wrapper .address img {
  width: 24px;
  fill: #FFF;
}

@media all and (min-width: 768px) {
  .place-wrapper .address img {
    width: 32px;
  }
}

/* ----------------- partner ----------------- */
.partner-wrapper {
  margin-bottom: 74px;
}

@media all and (min-width: 768px) {
  .partner-wrapper {
    margin-bottom: 184px;
  }
}

.partner-wrapper h3 {
  margin-bottom: 19px;
}

@media all and (min-width: 768px) {
  .partner-wrapper h3 {
    margin-bottom: 56px;
  }
}

.partner-wrapper h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #404040;
  margin-bottom: 14px;
}

@media all and (min-width: 768px) {
  .partner-wrapper h4 {
    margin-bottom: 16px;
  }
}

.partner-wrapper .partner-list-wrapper {
  margin-bottom: 10px;
}

@media all and (min-width: 768px) {
  .partner-wrapper .partner-list-wrapper {
    margin-bottom: 40px;
  }
}

.partner-wrapper .partner-list-wrapper:last-of-type {
  margin-bottom: 55px;
}

@media all and (min-width: 768px) {
  .partner-wrapper .partner-list-wrapper:last-of-type {
    margin-bottom: 72px;
  }
}

.partner-wrapper .partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner-wrapper .partner {
  border: 1px solid #707070;
  width: 48%;
  margin-bottom: 16px;
  font-size: 0;
}

@media all and (min-width: 768px) {
  .partner-wrapper .partner {
    width: 24%;
  }
}

@media all and (min-width: 1200px) {
  .partner-wrapper .partner {
    width: 19%;
  }
}

.partner-wrapper .partner img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */