html {
  font-size: 16px;
  background-color: #fff;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 152px 8.69565% 64px;
  background-color: #174EA6;
  overflow: hidden;
}

@media all and (min-width: 768px) {
  header {
    padding: 120px 7.5% 112px;
  }
}

header h2, header p {
  margin: 0 auto;
  color: #FFFFFF;
  max-width: 1632px;
}

header h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 24px;
}

@media all and (min-width: 768px) {
  header h2 {
    font-size: 3.5rem;
    margin-bottom: 42px;
  }
}

header p {
  font-size: 1rem;
  font-weight: 400;
}

@media all and (min-width: 768px) {
  header p {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 768px) {
  header span {
    display: block;
  }
}

main {
  padding: 74px 9.42029% 0px;
}

@media all and (min-width: 768px) {
  main {
    padding: 168px 7.5% 176px;
  }
}

main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1632px;
  margin: 0 auto;
}

.card {
  width: 100%;
  font-size: 0;
  padding-bottom: 80px;
}

@media all and (min-width: 768px) {
  .card {
    width: calc(100%/2);
  }
}

@media all and (min-width: 1200px) {
  .card {
    width: calc(100%/3);
  }
}

.card figure {
  display: inline-block;
  margin: 0 24px 0 0;
  width: 113px;
  height: 113px;
  border-radius: 50%;
  vertical-align: middle;
  background-image: url(../image/3741d0a27cd1c04cf50a292015777d5f.png);
  background-position: 50%;
  background-size: 120%;
}

@media all and (min-width: 768px) {
  .card figure {
    width: 140px;
    height: 140px;
  }
}

.card .content {
  display: inline-block;
  vertical-align: top;
}

.card .content h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 6px;
}

.card .content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 26px;
}

.card .content a {
  display: inline-block;
}

.card .content img {
  padding: 0 10.62px;
  margin: 0;
  vertical-align: top;
}

section.popovers {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.02;
}

@media all and (min-width: 768px) {
  section.popovers {
    max-width: 1004px;
    max-height: 816px;
    top: 168px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

header.popovers-header {
  background-color: #F2F2F2;
  font-size: initial;
  padding: 24px 5.7971% 48px;
}

@media all and (min-width: 768px) {
  header.popovers-header {
    padding: 24px 1.14583% 52px 6.5625%;
  }
}

header.popovers-header .button-group {
  font-size: 0;
  margin-bottom: 64px;
}

header.popovers-header .button-group button {
  font-size: 0;
  padding: 0;
  background-color: inherit;
}

header.popovers-header .button-group button img {
  margin: 0;
}

@media all and (min-width: 768px) {
  header.popovers-header .button-group button.arrow {
    visibility: hidden;
  }
}

header.popovers-header .button-group button.cross {
  visibility: hidden;
  float: right;
}

@media all and (min-width: 768px) {
  header.popovers-header .button-group button.cross {
    visibility: visible;
  }
}

header.popovers-header figure {
  margin: 0 28px 0 2.89855%;
  width: 88px;
  height: 88px;
}

header.popovers-header h3 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  line-height: 43px;
  vertical-align: middle;
}

@media all and (min-width: 768px) {
  header.popovers-header h3 {
    font-size: 2.5rem;
    line-height: 55px;
  }
}

main.popovers-main {
  background-color: #FFFFFF;
  padding: 0;
}

main.popovers-main .wrapper {
  padding: 32px 8.69565% 56px;
}

@media all and (min-width: 768px) {
  main.popovers-main .wrapper {
    padding: 49px 5.41667% 32px 6.5625%;
  }
}

.popovers-info {
  width: 100%;
  margin-bottom: 64px;
}

@media all and (min-width: 768px) {
  .popovers-info {
    margin-bottom: 72px;
  }
}

.popovers-info p {
  font-size: 1rem;
  line-height: 22px;
  margin-bottom: 10px;
}

@media all and (min-width: 768px) {
  .popovers-info p {
    font-size: 1.5rem;
    line-height: 33px;
    margin-bottom: 18px;
  }
}

@media all and (min-width: 768px) {
  .popovers-info p:nth-child(2) {
    margin-bottom: 14px;
  }
}

.popovers-info p:nth-child(3) {
  margin-bottom: 26px;
}

@media all and (min-width: 768px) {
  .popovers-info p:nth-child(3) {
    margin-bottom: 67px;
  }
}

.popovers-info a {
  display: inline-block;
  margin-right: 16px;
}

.popovers-info img {
  width: 24px;
  height: 24px;
  margin: 0;
}

.popovers-schedule {
  width: 100%;
}

.popovers-schedule h3, .popovers-schedule h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 15px;
}

.popovers-schedule h3 {
  margin-bottom: 7px;
}

@media all and (min-width: 768px) {
  .popovers-schedule h3 {
    margin-bottom: 15px;
  }
}

@media all and (min-width: 768px) {
  .popovers-schedule h4 {
    font-size: 1.875rem;
    line-height: 41px;
  }
}

.popovers-schedule p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.popovers-schedule span.popovers-tag {
  display: inline-block;
  color: #78C257;
  border: 1px solid #78C257;
  padding: 3px 6px 2px;
  font-size: 0.875rem;
  line-height: 19px;
}
/*# sourceMappingURL=main.css.map */