html {
  font-size: 16px;
  background-color: #fff;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  padding: 152px 8.69565% 24px;
  background-color: #174EA6;
  overflow: hidden;
}

@media (min-width: 768px) {
  header {
    padding: 200px 7.5% 112px;
  }
}

header h2, header p {
  margin: 0 auto;
  color: #FFFFFF;
  max-width: 1632px;
}

header h2 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  header h2 {
    font-size: 3.5rem;
    margin-bottom: 42px;
  }
}

header p {
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  header p {
    font-size: 1.5rem;
  }
}

main {
  padding: 56px 8.69565% 69px;
}

@media (min-width: 768px) {
  main {
    padding: 96px 7.5% 208px;
  }
}

main .wrapper {
  margin: 0 auto;
  max-width: 1632px;
}

main .wrapper section h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 22px;
}

@media (min-width: 768px) {
  main .wrapper section h4 {
    font-size: 2rem;
    line-height: 43px;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card {
  font-size: 0;
  width: 100%;
  margin-bottom: 59px;
}

@media (min-width: 768px) {
  .cards .card {
    width: calc(100%/2);
  }
}

@media (min-width: 1200px) {
  .cards .card {
    width: calc(100%/3);
  }
}

.cards .card figure {
  display: inline-block;
  margin: 0 24px 0 0;
  width: 94px;
  height: 94px;
  border: solid 1px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .cards .card figure {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 1200px) {
  .cards .card figure {
    margin: 0 44px 0 0;
  }
}

.content {
  display: inline-block;
  vertical-align: top;
}

.content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .content h3 {
    font-size: 2rem;
    line-height: 43px;
    margin-top: 4px;
    margin-bottom: 3px;
  }
}

.content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .content p {
    margin-bottom: 34px;
  }
}

.content a {
  display: inline-block;
  margin-right: 13.75px;
}

@media (min-width: 768px) {
  .content a {
    margin-right: 16px;
  }
}

.content a:nth-last-child(1) {
  margin: 0;
}

.content img {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .content img {
    width: 24px;
    height: 24px;
  }
}
/*# sourceMappingURL=main.css.map */