@import "reset.css";
/*---------------------- globle ----------------------*/

.wrapper{
    padding: 0 7.5%;
}
/*---------------------- navbar ----------------------*/
nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 7.5%;
}

@media all and (min-width: 768px){
    .navbar {
        padding: 2px 7.5%;
    }
}

.menu-button {
    display: inline-block;
    font-size: 0;
    width: 24px;    
}

@media all and (min-width: 768px){
  .menu-button {
      display: none;
  }
}

.menu-button>img {
    width: 100%;
}

.logo {
    display: inline-block;
    font-size: 0;
    width: 115px;
}

@media all and (min-width: 768px){
  .logo {
      width: 191px;
  }
}

.logo>a {
    display: block;
    width: 115px;
}

@media all and (min-width: 768px){
    .logo>a {
        width: 191px;
    }
  }

.logo img {
    width: 100%;
}

.menu-items {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    width: 304px;
    box-shadow: 0px 9px 13px #00000042;
    overflow: scroll;
    z-index: 1;
}

@media all and (min-width: 768px){
    .menu-items {
        position: static;
        display: inline-block;
        width: 320px;
        height: auto;
        vertical-align: middle;
        box-shadow: none;
        border-radius: 2px;
        margin-right: 10px;
    }
}

@media all and (min-width: 1200px){
    .menu-items {
        margin-right: 142px;
    }
}

.menu-items-logo {
    margin: 0px 5% 32px 5%;
    border-bottom: 1px solid #D0D0D0;
}

@media all and (min-width: 768px){
    .menu-items-logo {
        display: none;
    }
}

.menu-items img {
    display: block;
    width: 115px;
    margin: auto;
    padding: 24px 0;
}

.menu-items ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media all and (min-width: 768px){
    .menu-items ul {
        flex-direction: row;
    }
}

.menu-items li {
    width: 100%;
    margin-bottom: 24px;
}

@media all and (min-width: 768px){
    .menu-items li {
        display: inline-block;
        margin: 0;
    }
}

.menu-items a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 38px;
    text-decoration: none;
    text-align: center;
    color: #707070;
}

@media all and (min-width: 768px){
    .menu-items a {
        padding: 23px 0;
        font-size: 1.25rem;
    }
    .menu-items a:hover {
        border-bottom: 2px solid;
    }

}

.menu-items .home {
    color: #174EA6;
}

.lang {
    display: inline-block;
}

.nation-flag {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: red;
    width: 25px;
    height: 25px;
}

@media all and (min-width: 768px){
    .nation-flag {
        width: 42px;
        height: 42px;
    }
}

.nation-flag>img {
    width: 100%;
    vertical-align: middle;
}

.lang-choose {
    display: none;
    position: absolute;
    top: 49.44px;
    right: calc(7.5% - 22px);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 9px 13px #00000042;
}

@media all and (min-width: 768px){
    .lang-choose {
        top: 88px;
        right: calc(7.5% - 30.5px);
    }
}

.lang-choose>div {
    padding: 11px;
    font-size: 0;
}

@media all and (min-width: 768px){
    .lang-choose>div {
        padding: 16px;
    }
}


.lang-en {
    background-color: #EEEEEE;
}

.lang-choose .nation-flag {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media all and (min-width: 768px){
    .lang-choose .nation-flag {
        width: 42px;
        height: 42px;
        margin-right: 14px;
    }
}

.lang-info {
    margin-right: 12px;
    font-size: 0.875rem;
    display: inline-block;
    vertical-align: middle;
}

@media all and (min-width: 768px){
    .lang-info {
        margin-right: 18px;
        font-size: 1.25rem;
    }
}

.nation-flag>img {
    width: 100%;
}

.arrow-box {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
}

.arrow-box>img {
    width: 100%;
}

/*---------------------- header ----------------------*/
header {
    background: #174EA6;
    padding-top: 152px;
    padding-bottom: 4px;
}

@media all and (min-width: 768px){
    .main-header {
        padding-top: 168px;
    }
}

header h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 55px;
    color: #fff;
    margin-bottom: 56px;
}

@media all and (min-width: 768px){
    header h2 {
        font-size: 3.5rem;
        line-height: 76px;
        margin-bottom: 170px;
    }
}

.schedule-date {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 33px;
    color: #fff;
    padding-bottom: 19px;
    border-bottom: 2px solid #fff;
    display: inline-block;
}

.month {
    margin-right: 5px;
}
/*---------------------- main ------------------------*/

main {
    padding-top: 32px;
    padding-bottom: 30px;
    color: #404040;
}

@media all and (min-width: 768px){
    main {
        padding-top: 72px;
        padding-bottom: 120px;
    }
}

main>section {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

@media all and (min-width: 768px){
    main>section {
        flex-direction: row;
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
}

.schedule-time {
    width: 100%;
    padding: 0px 7.5% 5px 7.5%;
    box-sizing: border-box;
}

@media all and (min-width: 768px){
    .schedule-time {
        width: 88px;
        margin-right: 16px;
        padding: 0;
    }
}

.hour {
    font-size: 2rem;
    font-weight: 300;
    line-height: 32px;
    margin-right: 3px;
    vertical-align: baseline;
}

@media all and (min-width: 768px){
    .hour {
        font-size: 3rem;
        line-height: 72px;
        margin-right: 5px;
    }
}

.minute {
    font-size: 1rem;
    font-weight: 300;
    line-height: 16px;
    vertical-align: baseline;
}

@media all and (min-width: 768px){
    .minute {
        font-size: 1.5rem;
        line-height: 33px;
    }
}

.lecture-container {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px){
    .lecture-container {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.schedule-content, .lecture-content {
    width: 100%;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
}

.schedule-content {
    padding: 24px 7.5% 15px 7.5%;
}

@media all and (min-width: 768px){
    .schedule-content {
        padding: 16px 24px 15px 24px;
    }
}



.lecture-content {
    padding: 0 7.5%;
    margin-bottom: 8px;
}

@media all and (min-width: 768px){
    .lecture-content {
        width: calc(97% / 3);
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 0;
    }
}

@media all and (min-width: 1200px){
    .lecture-content {
        width: calc(97% / 6);
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 0;
    }
}

.schedule-content>h4 {
    margin-bottom: 66px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

@media all and (min-width: 768px){
    .schedule-title {
        font-size: 1.5rem;
        line-height: 33px;
    }
}

.length {
    font-size: 0.75rem;
    line-height: 17px;
    color: #707070;
}

@media all and (min-width: 768px){
    .length {
        font-size: 1rem;
        line-height: 22px;
    }
}

/*---------------- lecture ----------------*/

.lecture-content {
    display: block;
}

.empty-lecture {
    display: none;
}

@media all and (min-width: 768px){
    .empty-lecture {
        display: block;
    }
}

.lecture-title {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    font-size: 0;
    margin-bottom: 10px;
    margin-top: 24px;
}

@media all and (min-width: 768px){
    .lecture-title {
        margin-bottom: 15px;
        margin-top: 16px;
    }
}

.lecture-title>h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

@media all and (min-width: 768px){
    .lecture-title>h4 {
        font-size: 1.5rem;
        line-height: 33px;
    }
}

.lecture-title>p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 17px;
}

@media all and (min-width: 768px){
    .lecture-title>p {
        font-size: 1rem;
        line-height: 22px;
    }
}

.lecture-level {
    font-size: 0.75rem;
    color: #707070;
    margin-bottom: 7px;
    font-weight: 400;
    line-height: 17px;
}

@media all and (min-width: 768px){
    .lecture-level {
        font-size: 1rem;
        line-height: 22px;
        margin-bottom: 0;
    }
}

.lecture-content .length {
    margin-bottom: 63px;
    font-size: 0.75rem;
    line-height: 17px;
}

@media all and (min-width: 768px){
    .lecture-content .length {
        margin-bottom: 28px;
        font-size: 1rem;
        line-height: 17px;
    }
}

/*------------ speaker ------------*/

.speaker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

@media all and (min-width: 768px){
    .speaker {
        flex-direction: column;
    }
}

.speaker-intro {
    width: 50%;
    font-size: 0;
}

@media all and (min-width: 768px){
    .speaker-intro {
        width: 100%;
    }
}

.speaker-intro>img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5%;
    vertical-align: top;
}

.speaker-intro>div {
    display: inline-block;
    width: calc(95% - 40px);
    vertical-align: top;
}

.speaker-intro h4 {
    font-size: 1rem;
    margin-bottom: 4px;
}

.speaker-intro p {
    font-size: 0.75rem;
    color: #707070;
    width: 100%;
}

.speaker-intro p>span {
    display: inline-block;
}

.speaker-tech {
    width: 50%;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

@media all and (min-width: 768px){
    .speaker-tech {
        width: 100%;
    }
}

.tag-light {
    font-size: 0.875rem;
    display: inline-block;
    color: #78C257;
    border: 1px solid;
    padding: 3px 6px 2px 6px;
    margin-left: 8px;
    margin-top: 8px;
}

.tag-dark {
    font-size: 0.875rem;
    display: inline-block;
    color: #000;
    border: 1px solid;
    padding: 3px 6px 2px 6px;
    margin-left: 8px;
    margin-top: 8px;
}

/*---------------------- footer ----------------------*/

footer {
    background: #F2F2F2;
    padding-top: 32px;
    padding-bottom: 36px;
    color: #707070;
    position: relative;
}

@media all and (min-width: 768px){
    footer {
        padding-top: 72px;
        padding-bottom: 90px;
  }  
}

.topping {
    width: 48px;
    height: 48px;
    background-color: #fff;
    position: absolute;
    top: -24px;
    right: 7.5%;
    padding: 0;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
}

@media all and (min-width: 768px){
    .topping {
        width: 92px;
        height: 92px;
        top: -46px;
        right: 7.5%;
    }
}

.topping>img {
    width: 23px;
}

@media all and (min-width: 768px){
    .topping>img {
        width: 44px;
    }
}

.link-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

@media all and (min-width: 768px){
   .link-container {
       flex-direction: row;
       margin-bottom: 48px;
   }  
}

.follow {
    margin-bottom: 32px;
    font-size: 0;
}

@media all and (min-width: 768px){
    .follow {
        margin-bottom: 0;
        margin-right: 120px;
    } 
}

.share {
    font-size: 0;
}

footer h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    display: inline-block;
    margin-right: 22px;
    vertical-align: middle;
}

@media all and (min-width: 768px){
    footer h4 {
        font-size: 1.5rem;
        line-height: 33px;
        margin-right: 31px;
    }     
}

.link {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.link>a {
    display: inline-block;
    width: 24px;
}

.link>a+a {
    margin-left: 24px;
}

@media all and (min-width: 768px){
    .link>a+a {
        margin-left: 16px;
    }     
}

.link img {
    width: 100%;
}

footer hr {
    color: #D0D0D0;
    margin-bottom: 24px;
}

@media all and (min-width: 768px){
    footer hr {
        margin-bottom: 36px;
    }
}

.brand-container {
    display: flex;
    flex-direction: column;
}

@media all and (min-width: 768px){
    .brand-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }    
}

.local-link {
    width: 181px;
    margin-bottom: 25px;
}

@media all and (min-width: 768px){
    .local-link {
        width: 227px;
        margin-bottom: 0px;
    }
}

.local-link>img {
    width: 100%;
}

.copyright {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
}

@media all and (min-width: 768px){
    .copyright {
        font-size: 1.3rem;
        line-height: 33px;
    }
}

@media all and (min-width: 1200px){
    .copyright {
        font-size: 1.5rem;
    }
}

/* --------------------------popovers---------------------------- */

.popovers {
    height: 100vh;
    width: 100%;
    overflow: scroll;
    background-color: #fff;
    z-index: 2;
}

@media all and (min-width: 768px){
    .popovers {
        height: 70vh;
        width: 52vw;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.popovers-header {
    background-color: #f2f2f2;
    padding-top: 24px;
    padding-bottom: 40px;
}

.button-group {
    margin-bottom: 107px;
    display: flex;
    justify-content: space-between;
}

@media all and (min-width: 768px){
    .button-group {
        margin-bottom: 104px;
    }
}

.button-group>button {
    width: 24px;
    background-color: #F2F2F2;
    padding: 0;
    font-size: 0;
}

.button-group>img {
    width: 100%;
}

.cross {
    opacity: 0;
}

@media all and (min-width: 768px){
    .cross {
        opacity: 1;
    }
    .arrow {
        opacity: 0;
    }
}

.popovers-header h4 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 43px;
    margin-bottom: 8px;
}

@media all and (min-width: 768px){
   .popovers-header h4 {
       font-size: 2.5rem;
       line-height: 55px;
       margin-bottom: 0;
   } 
}

.popovers-tag {
    margin: 0px 0px 0px 4px;
    margin-left: 4px;
}

.popovers-info {
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding-top: 24px;
    color: #404040;
}

@media all and (min-width: 768px){
    .popovers-info {
        font-size: 1.5rem;
        line-height: 33px;
        padding-top: 48px;
    }
}

.popovers-time {
    margin-bottom: 10px;
}

@media all and (min-width: 768px){
    .popovers-time {
        margin-bottom: 15px;
    }
}

.popovers-time span {
    margin-right: 3px;
}

.popovers-box {
    margin-bottom: 34px;
}

@media all and (min-width: 768px){
    .popovers-box {
        margin-bottom: 38px;
    }
}

.popovers-box>div {
    margin-bottom: 10px;
}

@media all and (min-width: 768px){
    .popovers-box>div {
        margin-bottom: 7px;
    }
}

.popovers-level {
    margin-bottom: 0;
}

.popovers-level {
    margin-bottom: 83px;
}

@media all and (min-width: 768px){
    .popovers-level {
        margin-bottom: 70px;
    }
}

.popovers-speaker {
    color: #404040;
}

.popovers-speaker>div {
    margin-bottom: 24px;
}

.popovers-speaker h2 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 23px;
}

@media all and (min-width: 768px){
    .popovers-speaker h2 {
        font-size: 1.875rem;
        line-height: 41px;
    }
}

.popovers-speaker .photo {
    display: inline-block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 24px;
}

@media all and (min-width: 768px){
    .popovers-speaker .photo {
        width: 80px;
        height: 80px;
        margin-right: 32px;
    }
}

.popovers-speaker .photo>img {
    width: 100%;
}

.popovers-speaker .info {
    display: inline-block;
    vertical-align: middle;
}

.popovers-speaker .info h4 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 4px;
}

@media all and (min-width: 768px){
    .popovers-speaker .info h4 {
        font-size: 1.5rem;
        line-height: 33px;
    }
}

.popovers-speaker .info p {
    color: #404040;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 17px;
}

@media all and (min-width: 768px){
    .popovers-speaker .info p {
        color: #404040;
        font-size: 1rem;
        line-height: 22px;
    }
}

.arrival-position {
    position: relative;
}

.arrival-popovers {
    position: absolute;
    top: 0;
    /* display: none; */
}

.lecture-position {
    position: relative;
}

.lecture-popovers {
    position: absolute;
    top: 0;
    /* display: none; */
}

.bg-filter {
    background-color: #444;
    opacity: .8;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}
