//----------載入reset檔-------------
@import "reset.scss";
//---------色票--------------
$color-darkBlue: #174EA6;
$color-brightBlue: #4285F4;
$color-grey: #707070;
$color-white: #ffffff;
//---------------debug用---------------
// * {
//     outline: 1px solid;
// }
//----------media query-------------
@mixin mediaquery-pc {
    @media all and (min-width: 768px) {
        @content;
    }
}

@mixin mediaquery-pc-1200 {
    @media all and (min-width: 1200px) {
        @content;
    }
}

//--------全域---------
* {
    box-sizing: border-box;
}

//------- 共用--------
section {
    text-align: center;
}

.date {
    font-size: 1rem;
    color: $color-grey;
    @include mediaquery-pc {
        font-size: 2rem;
    }
}

//--------封面---------
picture img {
    width: 100%;
    margin-top: 60px;
}

//--------section intro--------
.intro {
    padding: 115px 11.11% 75px;
}

.intro h2 {
    font-size: 3rem;
    color: $color-darkBlue;
    margin-bottom: 48px;
    @include mediaquery-pc {
        font-size: 3.5rem;
        margin-bottom: 56px;
    }
}

.intro p {
    color: $color-grey;
    font-size: 1rem;
    @include mediaquery-pc {
        font-size: 2rem;
    }
}

//--------section session---------
.session {
    margin: 0 auto;
    max-width: 280px;
    margin-bottom: 129px;
    text-align: left;
    @include mediaquery-pc {
        margin-bottom: 80px;
        max-width: 500px;
    }
}

.session .site-wrapper-top,
.site-wrapper-bottom {
    display: flex;
    justify-content: space-between;
}

.session .site-wrapper-top {
    margin-bottom: 32px;
    @include mediaquery-pc-1200 {
        margin-bottom: 40px;
    }
}

.session .site {
    padding-left: 37px;
    font-size: 2rem;
    color: $color-darkBlue;
    @include mediaquery-pc {
        font-size: 2.5rem;
        padding-left: 65px;
    }
}

.session .site-wrapper-top>div:first-of-type {
    background-image: url("../image/Group\ 91.svg");
    background-repeat: no-repeat;
    background-position: 0 40%;
    @include mediaquery-pc {
        background-position: 8% 28%;
        background-size: 30%;
    }
}

.session .site-wrapper-top>div:nth-of-type(2) {
    background-image: url("../image/Group\ 92.svg");
    background-repeat: no-repeat;
    background-position: 12% 42%;
    @include mediaquery-pc {
        background-position: 13% 32%;
        background-size: 25%;
    }
}

.session .site-wrapper-bottom>div:first-of-type {
    background-image: url("../image/Group\ 94.svg");
    background-repeat: no-repeat;
    background-position: 0 58%;
    @include mediaquery-pc {
        background-position: 8% 33%;
        background-size: 32%;
    }
}

.session .site-wrapper-bottom>div:nth-of-type(2) {
    background-image: url("../image/Group\ 93.svg");
    background-repeat: no-repeat;
    background-position: 13% 50%;
    @include mediaquery-pc {
        background-position: 15% 33%;
        background-size: 28%;
    }
}

//------section ask--------
.ask {
    color: $color-white;
    background-color: $color-darkBlue;
    padding: 68px 6.5% 67px;
}

.ask h2 {
    font-size: 2.5rem;
    margin-bottom: 42px;
    @include mediaquery-pc {
        font-size: 3.5rem;
    }
}

.ask p {
    font-size: 1.5rem;
    @include mediaquery-pc {
        font-size: 2rem;
    }
}

//--------section tips---------
.tips {
    padding: 128px 6.5% 115px;
    @include mediaquery-pc {
        padding: 190px 7.25% 225px;
    }
    @include mediaquery-pc-1200 {
        padding: 190px 0 335px;
    }
}

.tips h4 {
    font-size: 2.5rem;
    color: $color-darkBlue;
    @include mediaquery-pc {
        font-size: 3.5rem;
    }
}

.tips p {
    font-size: 1rem;
    color: $color-grey;
    @include mediaquery-pc {
        font-size: 2rem;
    }
}

.tips h4:last-of-type {
    margin-bottom: 42px;
}

//----------三個 section kinds 共用-----------------
.kinds {
    display: flex;
    flex-direction: column;
    margin-bottom: 115px;
    @include mediaquery-pc-1200 {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 7%;
    }
}

.kinds figure {
    //消除圖片底部與容器間的縫隙
    font-size: 0;
    //reset
    margin: 0;
}

.kinds figure img {
    @include mediaquery-pc-1200 {
        width: 100%;
    }
}

.example {
    margin: 0 auto;
    @include mediaquery-pc {
        margin-bottom: 150px;
    }
    @include mediaquery-pc-1200 {
        margin-bottom: 0;
    }
}

.example h3 {
    font-size: 2.5rem;
    color: $color-darkBlue;
    margin: auto;
    margin-bottom: 42px;
    @include mediaquery-pc {
        //------設計稿上為3rem，但是塞不下-----
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
    @include mediaquery-pc-1200 {
        font-size: 3rem;
        text-align: left;
        margin-bottom: 48px;
    }
}

.example ul {
    margin: 0 auto;
    @include mediaquery-pc {
        //--視覺上置中--
        padding-left: 75px;
        column-count: 2;
        column-gap: 40px;
    }
    @include mediaquery-pc-1200 {
        padding-left: 40px;
        column-gap: 50px;
    }
}

.example li {
    font-size: 1rem;
    line-height: 30px;
    text-align: left;
    color: $color-grey;
    @include mediaquery-pc {
        //--設計稿為fz=2rem，但兩欄會塞不下--
        font-size: 1.5rem;
        line-height: 37px;
    }
    @include mediaquery-pc-1200 {
        font-size: 2rem;
        line-height: 45px;
    }
}

//--------- .kinds-mobile ---------
.kinds-mobile {
    @include mediaquery-pc-1200 {
        margin-bottom: 267px;
    }
}

.kinds-mobile figure {
    @include mediaquery-pc-1200 {
        width: 34.36%;
        margin-right: 7.72%;
    }
}

.kinds-mobile .example {
    padding: 42px 25% 0;
    @include mediaquery-pc {
        padding: 42px 0 0;
    }
    @include mediaquery-pc-1200 {
        padding: 0;
        width: 57.92%;
    }
}

//--------- .kinds-web --------
.kinds-web {
    @include mediaquery-pc-1200 {
        margin-bottom: 371px;
    }
}

.kinds-web figure {
    @include mediaquery-pc-1200 {
        width: 43.37%;
        margin-left: 6%;
        order: 1;
    }
}

.kinds-web .example {
    padding: 42px 28% 0;
    @include mediaquery-pc {
        padding: 42px 0 0;
    }
    @include mediaquery-pc-1200 {
        width: 50.63%;
        padding: 48px 0 0;
    }
}

.kinds-web ul {
    @include mediaquery-pc-1200 {
        column-gap: 30px;
    }
}

//---------- .kinds-cloud ------
.kinds-cloud {
    @include mediaquery-pc-1200 {
        margin-bottom: 271px;
    }
}

.kinds-cloud figure {
    @include mediaquery-pc-1200 {
        width: 35.78%;
        margin-right: 7%;
    }
}

.kinds-cloud .example {
    padding: 42px 21% 0;
    @include mediaquery-pc {
        padding: 42px 0 0;
    }
    @include mediaquery-pc-1200 {
        padding: 30px 0 0;
        width: 57.11%;
    }
}

//--------section-deadline-----
.session-deadline {
    margin: 0 auto;
    margin-bottom: 125px;
    @include mediaquery-pc {
        margin-bottom: 231px;
    }
    h2 {
        font-size: 2.5rem;
        color: $color-darkBlue;
        margin-bottom: 60px;
        @include mediaquery-pc {
            font-size: 3.5rem;
        }
    }
    .site-wrapper-top,
    .site-wrapper-bottom {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 236px;
        @include mediaquery-pc {
            width: 436px;
        }
    }
    .site-wrapper-top {
        margin-bottom: 32px;
    }
    .site {
        font-size: 1.5rem;
        color: $color-darkBlue;
        text-align: left;
        @include mediaquery-pc {
            font-size: 2.5rem;
        }
    }
}

.signUp {
    margin: 0 auto 48px;
    @include mediaquery-pc {
        margin-bottom: 105px;
    }
    @include mediaquery-pc-1200 {
        width: 100%;
        margin-bottom: 177px;
    }
}

.signUp h2 {
    font-size: 3rem;
    color: $color-darkBlue;
    margin: 0 auto 61px auto;
    @include mediaquery-pc {
        font-size: 3.5rem;
    }
}

.signUp .site-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 350px;
    @include mediaquery-pc {
        width: 450px;
        padding: 0;
    }
    @include mediaquery-pc-1200 {
        width: 1100px;
    }
    div:first-of-type {
        @include mediaquery-pc-1200 {
            order: 0;
        }
    }
    div:nth-of-type(2) {
        @include mediaquery-pc-1200 {
            order: 2;
        }
    }
    div:nth-of-type(3) {
        @include mediaquery-pc-1200 {
            order: 1;
        }
    }
    div:nth-of-type(4) {
        @include mediaquery-pc-1200 {
            order: 3;
        }
    }
}

.signUp .site-wrapper .site {
    width: 50%;
    margin-bottom: 38px;
    @include mediaquery-pc-1200 {
        width: 25%;
        margin-bottom: 0;
    }
}

.signUp .site-wrapper a {
    display: block;
    margin: auto;
    font-size: 2rem;
    width: 120px;
    border-radius: 56px;
    color: $color-white;
    padding: 7px 0;
    background-color: $color-darkBlue;
    box-shadow: 0px 4px 10px #00000029;
    @include mediaquery-pc {
        //設計稿在 1920為3rem，padding 上下20px，寬度220。
        font-size: 2.5rem;
        padding: 10px 0;
        width: 170px;
    }
    @include mediaquery-pc-1200 {
        //設計稿在 1920為3rem，padding 上下20px，寬度220。
        font-size: 3rem;
        padding: 20px 0;
        width: 220px;
    }
}

//------footer------
footer {
    background-color: $color-brightBlue;
    padding-top: 25px;
    @include mediaquery-pc-1200 {
        padding: 43px 0;
    }
}

.social-wrapper {
    width: 71.19%;
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    @include mediaquery-pc {
        max-width: 450px;
    }
    @include mediaquery-pc-1200 {
        max-width: 1284px;
    }
}

.social-wrapper a {
    font-size: 0;
    margin-bottom: 25px;
    @include mediaquery-pc-1200 {
        margin-bottom: 0;
    }
}

.social-wrapper a+a {
    margin-left: 20px;
    @include mediaquery-pc-1200 {
        margin-left: 0;
    }
}

.social-wrapper a:first-of-type {
    width: 34.42%;
    @include mediaquery-pc-1200 {
        width: 15.715%;
    }
}

.social-wrapper a:nth-of-type(2) {
    width: 56.28%;
    @include mediaquery-pc-1200 {
        width: 26.136%;
    }
}

.social-wrapper a:nth-of-type(3) {
    width: 85.84%;
    @include mediaquery-pc-1200 {
        width: 39.233%;
    }
}

.social-wrapper a img {
    width: 100%;
}